.skillrow {
  flex: 0 1 auto;
  margin-bottom: 0.3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid orange;
  border-radius: 1em;
}

.skillrow > .skilllevel {
  flex: 0 0 3em;
  height: 3em;
  line-height: 3em;
  text-align: center;
}

.skillrow > .skilltextcontainer {
  flex: 3;
  text-align: left;
}

.skillupgradecost > span.notenoughresource {
  color: red;
}