.upgradecell {
  height: min-content;
  border: 2px solid orange;
  border-radius: 0.5em;
  padding-left: 3px;
  margin-right: 2px;
  margin-left: 2px;
  text-align: center;
}

.upgradecost > span {
  margin-right: 1em;
}

.upgradecost > span.notenoughresource {
  color: red;
}